h1 {
    color:rgb(0, 255, 0);
}
img{
    width: 400px;
}
#thirdDiv{
    background-color: aqua;
    width: 600px;
    height: 500px;
    padding: 50px;
    border: 10px solid rebeccapurple
}
#spanId {
    font-size: 20px;
    margin: 50px;
}